# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# connect your mongodb database
DATABASE_URL=

# generate NEXTAUTH_SECRET here: https://generate-secret.vercel.app/32
# required for production
NEXTAUTH_SECRET=

# example: http:localhost:3000
# in production, set this to the address of your deployed application: https://{your-url}.vercel.app/
NEXTAUTH_URL=

# in production set this to "production"
NODE_ENV=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_ID=
GITHUB_SECRET=
